@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    font-family:'Roboto';
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-repeat: no-repeat;
    background-size: cover cover;
}


/* PÁGINA INICIAL */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


h1 {
    font-weight: 700;
    margin-bottom: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

nav a {
    list-style: none;
    text-decoration: none;
    background-color: #e2ebf0;
    padding: 10px;
    border-radius: 20px;
    color: #000;
}

nav a:hover {
    transform: scale(1.05);
    background-color: #cfd9df;
    transition: .2s;
}

main {
    height: 100vh;
    width: 100vh;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin-bottom: 10px;
}

.redes img{
    margin-left: 5px;
}

/* ESTOQUE */

h2 {
    text-align: center;
    margin-bottom: 30px;
}

table {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cfd9df;
}

/* FUNCIONARIOS */

li {
    list-style: none;
    padding: 5px;
}

/* PRODUTOS */

input {
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
}

button {
    border: none;
    padding: 10px;
    background-color: #d7e7f0;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Roboto';
    text-transform: uppercase;
    margin-left: 20px;
}