.image-button-container {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 50px;
    width: 200px;
    padding: 15px 30px;
    margin: 20px auto;
}

.image-button-container > img {
    width: 30px;
    margin-right: 10px;
}

.image-button-container p {
    color: white;
}